/*GENERAL*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Noto Sans', sans-serif;
}
i{
  padding-right: 5px;
}
.d-flex{
  display: flex;
}
.flex-wrap{
  flex-wrap: wrap;
}
.container{
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}
.t-13px{
  font-size: 13px;
}
.t-14px{
  font-size: 14px;
}
.t-15px{
  font-size: 15px;
}
.t-30px{
  font-size: 30px;
}
.blue{
  color: #0061FF;
}
.light-grey{
  color: #637381;
}
.b-light-grey{
  border: 1px solid #D0D0D3;
}
.p-4px{
  padding: 4px 0;
}
.p-10px{
  padding: 10px 0;
}
.p-20px{
  padding: 20px 0;
}
.p-30px{
  padding: 30px 0;
}
.m-25p{
  margin: 0 25px;
}
.h2-style{
  font-size: 30px;
  font-weight: bold;
}
.h3-style{
  font-size: 22px;
  font-weight: bold;
}
.white{
  color: white;
}
/*HEADER*/
header{
  position: fixed;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: white;
}
.menu{
  align-items: center;
  padding: 0 20px;
  height: 100%;
}
.menu.sx img{
  height: 25px;
}
.lista-menu{
  height: 100%;
}
.lista-menu ul{
  list-style: none;
}
.lista-menu ul li{
  align-items: center;
  height: 100%;
}
.lista-menu ul li:hover{
  cursor: pointer;
  border-bottom: 1px solid black;
}
.lista-menu ul li a{
  text-decoration: none;
  color: black;
 
}
.dropdown{
  position: relative;
  height: 15px;
  overflow: hidden;
}
.dropdown-menu{
  position: absolute;
  top: 10px;
  left: 0;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all 0.5s;
}
.dropdown-menu li{
  text-align: left;
  width: 230px;
  padding: 10px;
}
.dropdown:hover .dropdown-menu{
  top: 70px;
  opacity: 1;
}
.dropdown:hover{
  overflow: visible;
}
.dropdown-menu li:hover{
  background-color: #ECEBEA;
}
button{
  padding: 5px 15px;
  border: none;
  cursor: pointer;
}
.button-blue{
  color: white;
  background-color: #0061FF;
}
/*JUMBOTRON*/
.jumbotron{
  margin: 70px 0;
  background-color: #B4D0E7;
}
.jumbo{
  position: relative;
  top: 60px;
  width: 70%;
  max-width: 1100px;
  margin: 0 auto;
}
.jumbo h1{
  font-size: 60px;
  font-weight: bold;
}
.contain{
  padding-top: 40px;
}
.jumbo-text{
  width: 30%;
}
.jumbo-text p{
  padding-bottom: 20px;
}
.jumbo-text button{
  margin-bottom: 10px;
}
.img{
  overflow: hidden;
  text-align: center;
  width: 70%;
}
.img img{  
  object-fit: cover;
  width: 100%;  
  min-width: 500px;
}
.arrow-action:hover{
  cursor: pointer;
}
.arrow-action:active{
  content: 
}
/*MAIN*/
.container{
  width: 60%;
  max-width: 1000px;
  margin: 0 auto;
}
section{
  margin: 60px 0;
}
.tariffe{
  margin-top: 150px;
  width: 100%;
}
.tariffe h2{
  padding-bottom: 40px;
}
.tipo-fatturazione{
  padding: 30px 0;
}
.check{
  padding-left: 20px;
}
.col{
  width: calc(100% / 3);
  margin-right: 20px;
}
.col:last-child{
  margin: 0;
}
.colonne:last-child{
  margin-right: 0;
}
.utente{
  align-items: center;
  justify-content: center;
  height: 40px;
  border-bottom: 1px solid #D0D0D3;
}
.offerta{
  padding: 0 20px;
  height: 1100px;
}
.offerta nav ul{
  list-style: none;
  padding-top: 10px;
}
.offerta button{
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
}
.divisorio{
  width: 50px;
  margin: 20px 0 40px;
  border-bottom: 1px solid #D0D0D3;
}
.ufficio-vendite{
  margin: 20px 0;
  height: 200px;
}
.contatta-ufficio{
  position: relative;
  padding-left: 20px;
}
.contatto a{
  position: absolute;
  top: 20px;
  right: 20px;
  text-decoration: none;
  padding: 5px 50px;
}
.partner{
  height: 475px;
}
.image-partner{
  position: relative;
  width: 50%;
  overflow: hidden;
}
.image-partner img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.text-partner{
  width: 50%;
  padding: 50px;
}
.text-partner p{
  margin-bottom: 30px;
}
.text-partner a{
  text-decoration: none;
  padding: 5px 10px;
  background-color: white;
  color: black;
  border: 1px solid black;
}
.operazioni{
  flex-wrap: wrap;
}
.card{
  width: calc(100% / 3 - 40px);
  margin-right: 40px;
  padding-bottom: 60px;
}
.card:nth-of-type(3n + 3){
  margin-right: 0;
}
.card img{
  width: 100%;
}
.title-team h2{
  width: 600px;
  text-align: left;
}
.clienti{
  height: 700px;
}
.team{
  height: 400px;
}
.aziende{
  width: 30%;
  height: auto;
}
.aziende .image-team{
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 50%;
}
.image-team img{
  max-width: 100px;
  object-fit: cover;
  color: white;
  filter: invert(1);
}
.image-team:active{
  border: 10px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.red{
  background-color: #FF1C1C;
}
.red-2{
  background-color: #D5001F;
}
.green{
  background-color: #A2D39B;
}
.purple{
  background-color: #61082B;
}
.azzurro{
  background-color: #B4D0E7;
}
.acqua{
  background-color: #0093CE;
}
.blu{
  background-color: #0D2481;
}
.yellow{
  background-color: #FFD830;
}
.info-team{
  width: 40%;
  height: 100%;
  padding: 50px 40px;
  overflow: auto;
  background-color: #F5F5F5;
}
.info-team img{
  max-width: 150px;
}
.info-team p{
  padding-bottom: 30px;
}
.call-to-action{
  height: 300px;
  background-color: #B4D0E7;
}
.call-to-action h2{
  width: 400px;
  text-align: left;
  color: #61082B;
}
.call-to-action .container{
  justify-content: space-between;
  align-items: center;
}
.call-to-action .container button{
  height: 25px;
  padding: 0 40px;
}
.frequent-questions{
  margin-bottom: 100px;
}
.domanda{
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #DCDCDE;
}
.domanda:last-child{
  border-bottom: 1px solid #DCDCDE;
}
.domanda i{
  padding-right: 20px;
}
.drop{
  padding: 20px 0;
  display: none;
  transition: all 0.5s
}
.domanda:hover .drop{
  display: block;  
}

  
/*FOOTER*/
footer{
  height: 500px;
  color: white;
  background-color: black;
}
.footer-container{
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}
.menu-footer{
  justify-content: space-between;
  padding: 70px 0;
}
.menu-footer nav span{
  font-size: 20px;
}
.menu-footer ul li{
  list-style: none;
}
.menu-footer ul li:first-child{
  padding-top: 15px;
  padding-bottom: 4px;
}
.menu-footer ul li a{
  text-decoration: none;
  color: white;
}
.divisorio-footer{
  width: 100px;
  margin: 30px 0 40px;
  border-bottom: 1px solid #BFBFBF;
}
.lingua{
  color: #666666;
  cursor: pointer;
}
.lingua:first-child{
  color: #999999;
}